<nav class="navbar">
  <div class="navbar-brand">
    <i class="pi pi-video"></i>
    <span class="brand-name">CineMate</span>
  </div>

  <div class="navbar-menu">
    <a routerLink="/trending" routerLinkActive="active" class="nav-item">
      <i class="pi pi-fire"></i>
      <span>Trending</span>
    </a>
    <a routerLink="/favourites" routerLinkActive="active" class="nav-item">
      <i class="pi pi-heart"></i>
      <span>Favourites</span>
    </a>
    <a routerLink="/ratings" routerLinkActive="active" class="nav-item">
      <i class="pi pi-star"></i>
      <span>My Ratings</span>
    </a>
  </div>
</nav>
