<nav class="navbar">
  <div class="navbar-brand" (click)="navigateToTrending()">
    <i class="pi pi-video"></i>
    <span class="brand-name">CineMate</span>
  </div>

  <div class="navbar-menu">
    <a routerLink="/trending" routerLinkActive="active" class="nav-item">
      <i class="pi pi-fire"></i>
      <span>{{ TEXT.TRENDING }}</span>
    </a>
    <a routerLink="/favourites" routerLinkActive="active" class="nav-item">
      <i class="pi pi-heart"></i>
      <span>{{ TEXT.FAVOURITES }}</span>
    </a>
    <a routerLink="/ratings" routerLinkActive="active" class="nav-item">
      <i class="pi pi-star"></i>
      <span>{{ TEXT.MY_RATINGS_NAV }}</span>
    </a>
  </div>
</nav>
