<nav class="navbar">
  <div class="navbar-brand" (click)="navigateToTrending()">
    <i class="pi pi-video"></i>
    <span class="brand-name">CineMate</span>
  </div>

  <div class="navbar-menu">
    <a routerLink="/trending" routerLinkActive="active" class="nav-item">
      <i class="pi pi-fire"></i>
      <span>{{ TEXT.TRENDING }}</span>
    </a>
    <a routerLink="/my-collection" routerLinkActive="active" class="nav-item">
      <i class="pi pi-bookmark"></i>
      <span>{{ TEXT.MY_COLLECTION_NAV }}</span>
    </a>
  </div>
</nav>
